/* Fuente y estilos base */
body {
  font-family: 'Arial', sans-serif;
  background-color: #2f2f2f;
  /* Color gris oscuro tirando a negro */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  /* Asegura que los elementos estén en una columna */
}

/* Fondo con imagen en bucle */
.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../public/esculapio.png');
  background-size: 150px;
  background-repeat: repeat;
  filter: grayscale(100%);
  opacity: 0.15;
  z-index: -1;
}

/* Contenedor principal que siempre centrará los elementos */
.container {
  z-index: 2;
  display: flex;
  flex-direction: column;
  /* Apila los elementos de arriba hacia abajo */
  align-items: center;
  /* Centra los elementos */
  justify-content: center;
  /* Centra los elementos */
  width: 100%;
  max-width: 350px;
}

/* Logo encima del modal */
.logo {
  width: 400px;
  margin-bottom: 20px;
  /* Se ajusta la separación para que no haya demasiado espacio */
}

/* Modal de login */
.modal {
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  text-align: left;
  width: 100%;
  max-width: 350px;
}

/* CSS para las pestañas */
.tabs {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.tabs a {
  padding: 10px 20px;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  color: #0056b3;
}

.tabs a.active {
  border-bottom: 2px solid #0056b3;
  color: #333;
}

.form-container {
  display: none;
}

.form-container.active {
  display: block;
}

.hidden {
  display: none;
}

/* Título */
.modal h2 {
  margin-bottom: 20px;
  color: #333;
  font-size: 22px;
  text-align: center;
}

/* Campos de entrada */
.modal input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

/* Botón */
.modal button {
  width: 100%;
  background-color: #0056b3;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.modal button:hover {
  background-color: #004494;
}

/* Estilos para la rueda de carga */
.spinner {
  border: 2px solid #f3f3f3;
  /* Color de fondo de la rueda */
  border-top: 2px solid #3498db;
  /* Color de la parte visible */
  border-radius: 50%;
  width: 16px;
  height: 16px;
  animation: spin 1s linear infinite;
  margin-left: 10px;
}

/* Animación de la rueda de carga */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Modal de registro */
#register-modal {
  display: flex;
  flex-direction: column;
  /* Asegura que los elementos del registro estén apilados */
  align-items: center;
  justify-content: center;
}

/* Asegura que el enlace de "Iniciar sesión" en el modal de registro no se desplace */
#back-to-login {
  margin-top: 20px;
  text-align: center;
  cursor: pointer;
}

#back-to-login a {
  text-decoration: none;
  color: #0056b3;
}